@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*
    <div class="text-center">
        //<h1 class="display-4">TestPond</h1>
        //<p>A Mobile Application Test Farm developed by <a href="http://www.fishangler.com">FishAngler</a></p>
    </div>
*@

    <div>
        <h1>Collection Runs</h1>

        @foreach (var collectionRun in Model.collectionRuns)
        {
            @*<div style="border:1px solid gray; margin-bottom:15px; padding: 10px;">*@
    <div class="card" style="margin-bottom:22px;">
        <h5 class="card-header">@collectionRun.Date | @collectionRun.MobileAppBuildId - @collectionRun.MobileAppBuild.BuildDefinitionName - @collectionRun.MobileAppBuild.BuildNumber |@collectionRun.MobileAppBuild.BuildDate | @collectionRun.TestSelectionQuery</h5>
        
        <div class="card-body">

            <form method="post">
                <input type="hidden" asp-for="@collectionRun.IsDeleted" asp-value="true" />
                <button type="submit" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>

            @*Single Run*@
            <p>Devices: </p>

            @foreach (var singleRun in collectionRun.SingleDeviceTestSuiteRuns)
            {
                <a style="text-decoration:none;" asp-area="" asp-page="/SingleDeviceRun" asp-route-id=@singleRun.Id>
                    <h4 style="display:inline-block;"><span class="badge badge-dark">@singleRun.MobileDevice.Name</span"></h4>
                </a>
            }
            <br />

            <a class="btn btn-primary" style="margin-top:15px;" asp-area="" asp-page="/DeviceRunTestCaseSummary" asp-route-id=@collectionRun.Id>Test Case Summary</a>
        </div>
    </div>
        }
</div>
